/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body, html, .App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/tbbg.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff; 
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: transparent; 
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 28px; 
  transition: color 0.3s; 
}

.user-name {
  text-decoration: none;
  color: #fff; 
  font-size: 28px; 
}

.nav-links a:hover {
  color: rgba(112, 105, 106, 0.8); 
}

.auth-buttons {
  display: flex;
}

.auth-buttons .login-btn, .auth-buttons .signup-btn {
  background-color: rgb(95, 93, 93); 
  border: none;
  padding: 10px 20px; 
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 28px;
  color: #fff; 
  transition: background-color 0.3s; 
}

.auth-buttons .login-btn:hover, .auth-buttons .signup-btn:hover {
  background-color: rgba(255, 255, 255, 0.3); 
}

.home-container {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  width: 75%;
}

.home-title {
  font-size: 72px; 
  color: #fff; 
}

.home-description {
  font-size: 30px; 
  color: #fff; 
  margin-top: 10px;
}

@media (max-width: 768px) {
  .home-title {
    font-size: 48px; 
  }
  
  .home-description {
    font-size: 24px; 
  }

  .auth-buttons .login-btn, .auth-buttons .signup-btn {
    font-size: 20px; 
  }
}
.user-dropdown {
  position: relative; 
}

.dropdown-menu {
  position: absolute; 
  background-color: transparent; 
}

.dropdown-menu button {
  background-color: rgb(95, 93, 93); 
  border: none;
  padding: 10px 20px; 
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  transition: background-color 0.3s;
}

.dropdown-menu button:hover {
  background-color: rgba(255, 255, 255, 0.3); 
}
